<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="split.css">
    <title>Index Page</title>
    
<meta name="description" content="Items">
</head>
    
<body>
    <div class="content">
    <!-- Page Content -->
    </div>
    
   <!-- navigation bar -->
<div  class="topnav" id="myTopnav">
  <a  href="welcome.html">Home</a>
  <a  class="active" href="items.html">Items</a>

  <div class="topnav-right">
  <input type="text" placeholder="Search..">
  </div>
</div>
    
<form><br>


<h2>List of Items</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @items.each do |item| %>
    <tr>
      <td><%= item.title %></td>
      <td><%= item.description %></td>
  <%end%>
</table>

<div>
    <%= link_to 'Add Item', new_item_path %> <br>
    
<input type="submit" value="Add Item"><br><br>
</div>
</form> 
    
<footer>

    <p>
        &copy; 2018 Split It <br>
    </p>
    
</footer>   
    
    
</body>
    
</html>
