<h2>List of Items</h2>
<%= link_to 'Add Item', new_item_path %>



<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="split.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Items Page</title>
    <meta name="description" content="Items">
</head>
    
<body style= "margin-left:0px;">
    <div class="content">
        <!-- Page Content -->
        <ul id = items>
        <% @items.each do |item| %>
            <div class="product">
                <li class="noStyle">
                    <a href="#" class="img"><img src= <%=item.imgUrl%>></a>
                    <%= link_to item.title, item_path(item), class: "name" %>
                    <div class="price">$<%=item.price%></div>
                    <b>
                    <a style="color:green;text-decoration: none;" href="#">Split!</a>
                    </b>
                </li>
            </div>
        <%end%>
        </ul>
    </div>
    
    <script>
    function search() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("items");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[1];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    </script>

    
</body>
</html>