<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="split.css">
    <title>Index Page</title>
    
<meta name="description" content="Items">
</head>
    
<body>
    <div class="content">
    <!-- Page Content -->
    </div>
    
   <!-- navigation bar -->
<div  class="topnav" id="myTopnav">
  <a  href="welcome.html">Home</a>
  <a  class="active" href="items.html">Items</a>
  <a  href="listings.html">Listings</a>
  <a href="about.html">About Us</a>  
  <div class="topnav-right">
  <input type="text" placeholder="Search..">
  </div>
</div>
    
<form><br>
<div>
<input type="submit" value="Add Listing"><br><br>
</div>
</form> 
    
<footer>

    <p>
        &copy; 2018 Split It <br>
    </p>
    
</footer>   
    
    
</body>
    
</html>
