<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="split.css">
    <title>Index Page</title>
    
<meta name="description" content="Listings">
</head>
    
    
<body>
    <div class="content">
    <!-- Page Content -->
    </div>
    
    <!-- navigation bar -->
<div  class="topnav" id="myTopnav">
  <a  href="index.html">Home</a>
  <a  href="items.html">Items</a>
  <div class="topnav-right">
  <input type="text" placeholder="Search..">
  </div>
</div>
    
    
<h2>Add Listing</h2>

    
<!-- Listing Form -->
    
<form action="#">

<div>
Title<br>
<input type="text" name="title">
<br>
Description<br>
<input type="text" name="Description">
<br><br>
<button name="submit" type="submit" value="Add Listing">Add Listing</button>
</div>
</form><br>   
    
<%= link_to 'Back', items_path %>
    
    
<footer>

    <p>
        &copy; 2018 Split It <br>
    </p>
    
</footer>   
    
</body>
    
</html>
