// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the nav bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links when hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active link */
.topnav a.active {
    background-color: #46a35f;
    color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}


/*styling for body*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}