// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Split It css File*/

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the nav bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links when hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active link */
.topnav a.active {
    background-color: #46a35f;
    color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/*Search Box on Home Page*/

* {
    box-sizing: border-box;
}

form.searchbutton input[type=text] {
    padding: 10px;
    font-size:20px;
    border: 1px solid grey;
    margin: auto;
    width: 100%;
    background: #f1f1f1;
}

form.searchbutton button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #46a35f;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.searchbutton button:hover {
    background: #46a35f;
}

form.searchbutton::after {
    content: "";
    clear: both;
    display: table;
}

/*styling for itemlisting on items page*/
.itemlisting {
    text-decoration: none;
    color: none;
    
}

/*styling for body*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}




/*styling for split it image*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}



.itemsList {
    list-style-type: none;
}


/*styling for list boxes*/
div.product {
    float: left; width: 250px; height: 250;
    background-color: white;
    border-bottom: #46a35f 2px solid;
    position: relative;
}

div.product a {
    float: left; width: 100%;
    text-align: center;
}

div.product a.img {
    margin-top: 10px;
}

div.product a.img img {
    height: 170px;
    max-width: 100%;
    
}

div.product a.name {
    font-weight: bolder;
    color: black;
    font-size: 13px;
    text-decoration: none;
    margin-top: 5px;
}

div.product div {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-indent: 10px;
    margin: 10px 0 10px 0;
    float: left;
    width: 100%;
}


div.product a.cart {
    border-top: #46a35f .05px solid;
    background: #f2f2f2 url(fa fa-shopping-cart) 20% 1px no-repeat;
    line-height: 30px;
    font-weight: bold;
    color: #46a35f;
    text-decoration: none;
}


/*lil number bubble at the top*/
div.product span {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 0 2px #ddd;
}

div.product:hover span {
    background-color: #ddd;
    opacity: 5%;
}

div.product:hover a.img img {
    opacity: 5%;
}



/*styling for the bottom copyright information*/
footer {
    padding: .75em;
        color: black;
        background-color: #f2f2f2;
        text-align: center;
    font-style: italic;
	font-size: 10px;
	text-align: center;
}
